<md-card>
  <md-card-title>
    <md-card-title-text>
      <span class="md-headline">Interprest</span>
      <span class="md-subhead">Open source and portable simultaneous interpretation system</span>
    </md-card-title-text>
  </md-card-title>
  <md-card-content>
    <img ng-src="img/interprest.png" style="float:left;width:64px;margin-right:10px;" class="md-card-image" alt="image caption">
    Interprest is an open source and portable simultaneous interpretation system. By combining smartphones and wireless technologies interpreters can stream audio channels using a small microphone while listeners receive them using their own smartphone.
    The project is a bet in favor of open technologies, and so, opens its development to the community.
  </md-card-content>
</md-card>
